* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.app {
  margin: 10vh auto;
  max-width: 60em;
}

.editable {
  tab-size: 2;
  border: 1px solid black;
  padding: 15px;
}

.emoji {
  height: 1.1em;
  width: 1.1em;
  vertical-align: text-bottom;
}
